.contain {
    // padding-top: 50px;
    .box {
        padding: 20px 20px 0;
        .txt {
            display: flex;
            justify-items: center;
            padding: 10px 0;
        }
    }
}